*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.modal{
    height: 100vh;
    width: 100vw;
    background: #0000007c;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 2;
}
.modal .card{
    border-radius: 5px;
    padding: 20px;
    position: relative;
    width: 400px;
    height: 210px;
    background: white;
}
.modal .card .body{
    width: 100%;
}
.modal .card .body p{
    display: grid;
    grid-template-columns: 0.6fr 1.4fr;
    grid-template-rows: 30px;
    column-gap: 6px;
    row-gap: 6px;
    padding-top: 10px;
}
.modal .card .bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px;
    column-gap: 6px;
    row-gap: 6px;
    padding-top: 20px;
}
.add{
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 30px;
    background: rgb(0, 204, 255);
    font-size: 20px;
    color: white;
    box-shadow: 0 0 10px rgb(158, 158, 158);
    cursor: pointer;
}
.contenu{
    width: 100%;
    min-height: 100vh;
}

.contenu .titre{
    font-size: 30px;
    padding: 13px 70px;
    font-weight: 600;
}
.contenu .corps{
    padding: 40px 100px;
}
.contenu .corps table{
    width: 100%;
}
.contenu .corps table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
td,th{
    padding: 10PX 20px;
}
td button{
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    background: rgb(139, 139, 139);
    color: white;
    cursor: pointer;
    margin-right: 10px;
}